# Required Libraries
pandas
requests
streamlit
matplotlib
seaborn
textblob
wordcloud
transformers

# At least one of TensorFlow 2.0 or PyTorch should be installed
tensorflow>=2.0 ; platform_system != 'Windows' 
torch ; platform_system != 'Windows'

# Optional - Uncomment the following lines to ensure TensorFlow or PyTorch is installed
# tensorflow>=2.0
# torch
